/* General */
:root{
  font-family:'Montserrat', sans-serif;
  font-size:15px;
}
::selection {
    color: white;
    background: #c44b42;
}
a{
  color: #c44b42;
}
h1,h2,h3{
  font-weight: bolder;
  text-transform: uppercase;
  font-family:'Montserrat ExtraBold', sans-serif;
}

/* Header */
header{
  top:0;
  width:100%;
  z-index: 99;
  height:200px;
  position:fixed;
  background: url("../assets/banner.png");
  background-size: cover;
  background-position: center;
}

/* Navigation */
nav{
  top:200px;
  width:100%;
  z-index: 99;
  position: fixed;
}
.desktop-nav {
  margin:0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color:black;
  justify-content: center;
}
.menu > ul{
  padding:0;
  margin:0;
}
.page_item > a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.page_item{
  margin: 0 20px;
  padding: 15px 10px 10px;
  border-bottom: solid 5px transparent;
}
.page_item:hover{
  border-bottom: solid 5px white;
}
#menu-primary {
  margin:0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color:black;
  justify-content: center;
}
#menu-primary > li{
  margin:0 20px;
  padding:15px 10px 10px;
  border-bottom:solid 5px transparent;
}
#menu-primary > li:hover, .active{
  border-bottom:solid 5px white !important;
}
.menu-item a{
  color:white;
  text-decoration:none;
  text-transform: uppercase;
  font-family:'Montserrat ExtraBold', sans-serif;
}


/* Mobile navbar*/
.hamburger{
  display: none;
  font-size: 20px;
  padding:12px 30px;
  color:white;
  text-decoration:none;
  text-transform: uppercase;
}
.right{
  float:right;
}

#mobile-nav{
  display: none;
  transition: 1s ease-in-out;
  color:#666;
  background-color:#1C1C1C;

}
#menu-mobile{
  top:0px;
  margin:0;
  padding:0;
  width:100%;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}
#menu-mobile > li {
  color:white;
  padding:20px 50px;
  border-top:solid 1px #2D2D2D;
  border-bottom:solid 1px #151515;
  text-transform: uppercase;
}
.nav-title, .nav-subtitle{
  margin:0;
  text-align:center;
}
.nav-title{
  padding:20px 10px;
}
.nav-subtitle{
  margin:0 auto;
  padding-bottom:15px;
}
/*.mobile-nav-items{
  top:0px;
  margin:0;
  padding:0;
  width:100%;
  color:#666;
  background-color:#1C1C1C;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}
.mobile-nav-item{
  color:white;
  padding:20px 50px;
  border-top:solid 1px #2D2D2D;
  border-bottom:solid 1px #151515;
  text-transform: uppercase;
}
.nav-title, .nav-subtitle{
  margin:0;
  text-align:center;
}
.nav-title{
  padding:20px 10px;
}
.nav-subtitle{
  margin:0 auto;
  padding-bottom:15px;
}*/

#toggleMenu{
  display: none;
}
#toggleMenu:checked ~ #mobile-nav{
  top:0;
}

/* Sidebar */
aside{
  right:0;
  top:240px;
  width:20%;
  height:100%;
  position:fixed;
  background-color:#E5E5E5;
}
.aside-container{
  width:90%;
  margin:20px auto 0 auto;
}
.aside-title{
  margin:30px 0 0;
  text-align: center;
  text-transform: uppercase;
}
article.blog-item{
  font-size:12px;
  padding:15px 5px;
  border-bottom:solid 1px #A0A0A0;
}
.blog-link{
  color:#808080;
  text-decoration: none;
}
.blog-link:hover{
  color: #c44b42;
}

.social-media{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.flex-row{
  text-align:center;
}
.social-media-img{
  width:40px;
  height:40px;
  margin:10px;
  display: inline-block;
  background-position: center;
  transition: 0.2s ease-in-out;
}
.social-media-img:hover{
  filter:invert(100%);
}
.facebook{
  background-image:url("../assets/facebook-icon.png");
}
.twitter{
  background-image:url("../assets/twitter-icon.png");
}
.insta{
  background-image:url("../assets/instagram-icon.png");
}
.gplus{
  background-image:url("../assets/googleplus-icon.png");
}

.misc-links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.misc-links>a, .misc-links>span{
  margin: 10px;
  color:#7E7E7E;
  text-decoration:none;
}

/* Main */
.container{
  top:250px;
  width: 66%;
  margin:10px 75px;
  position: absolute;
}

/*404 css*/
.error-img {
    max-width: 25%;
    float: left;
}
.error-text {
    width: 75%;
    float: left;
}

/* Contact form */

span.your-email, span.your-message{
  width:50%;
}


/* Breakpoints*/
@media screen and (max-width: 1000px) {
  header{
    top:45px;
    height:150px;
    background-image: url("../assets/tablet-banner.png");
  }
  aside {
    display: none !important;
  }
  #mobile-nav{
    top:-428px;
    display: block;
  }
  nav.desktop-nav{
    display: none;
  }
  .container{
    top: 200px;
    width:80%;
    margin:0 10%;
  }
  .menu{
    justify-content: flex-end;
  }
  #menu-primary > li{
    display: none;
  }
  .navbar{
    margin:0;
    justify-content: flex-end;
  }
  .nav-item{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .social-media-img{
    filter: invert(100%);
  }
}

@media screen and (max-width: 650px) {
  header{
    background-image: url("../assets/mobile-banner.png");
  }
  .error-img {
      display: none;
  }
  .error-text {
      width: 100%;
  }
}


/*Accordion css*/

.accordions {
  padding: 15px 0;
  margin: 0 auto; 
  }
 
 .accordions .accordion {
    background-color: white;
    border: solid 1px #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    max-width: 100%;
    outline: none;
    transition: 0.4s; 
  }

.accordions .accordion span {
      margin-left: 10px;
      font-size: 75%; 
}

.accordions .accordion.active,
.accordions .accordion:hover {
    background-color: black;
    color: white;
    border-color: #ccc; 
}

.accordions .accordion:after {
    font-family: 'FontAwesome';
    content: '\f107';
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    float: right;
    margin-left: 5px; 
}

.accordions .accordion.active:after {
    content: "\f105"; 
    color: white;
}

.accordions article.panel {
    padding: 0 18px;
    background-color: #dedede;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordions article.panel .center {
      text-align: center; 
}

.accordions article.panel .order {
      margin: 20px 0; 
}

.accordions article.panel .order .total {
        text-transform: uppercase;
        font-weight: bold; 
}

.accordions article.panel .order .total span {
    color: #104D93; 
}

.accordions article.panel .right {
      float: right; 
}

.accordions article.panel p {
      margin: 0.5rem;
      color: #333; 
}

.accordions article.panel i {
      color: #104D93;
      margin: 0; 
}
