html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
/*Navbar Css*/
#header {
    position: fixed;
    top: 0;
    background-color: lightcoral;
    width: 100%;
}
#menu-primary > li {
    display: inline;
    float: left;
    padding: 20px;
}

/*Dit is de Main css*/
.Container {
    width: 40%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
/*Dit is de footer css*/
#footer {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color:lightcoral;
}